<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.KeyParameterDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.KeyParameter">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="categoryRootId" jdbcType="INTEGER" property="categoryRootId" />
        <association property="category" column="categoryRootId" select="com.zeng.ssm.dao.CategoryDao.selectCategoryTree"/>
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.KeyParameter" useGeneratedKeys="true" keyProperty="id" >
        insert into  `key_parameter` ( `title`, `categoryRootId`)
        values ( #{title,jdbcType=VARCHAR}, #{categoryRootId,jdbcType=INTEGER})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `key_parameter` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `key_parameter`;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.KeyParameter">
        update `key_parameter`
        set
          `title` = #{title,jdbcType=VARCHAR},
          `categoryRootId` = #{categoryRootId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `key_parameter` where id = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>