<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.OutputPartDataDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.OutputPartData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
<!--        <result column="sceneDataId" jdbcType="INTEGER" property="sceneDataId" />-->
        <result column="outputFrameDataId" jdbcType="INTEGER" property="outputFrameDataId" />
        <result column="category" jdbcType="TINYINT" property="category" />
        <result column="yieldRate" jdbcType="FLOAT" property="yieldRate" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
<!--        <association property="sceneData" column="sceneDataId" select="com.zeng.ssm.dao.SceneDataDao.selectSimpleByPrimaryKey"/>-->
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `output_part_data` where id = #{pk}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `output_part_data`
    </select>

    <select id="selectOutputPartDataListByOutputFrameDataId" resultMap="BaseResultMap">
        select * from `output_part_data` where outputFrameDataId = #{pk}
    </select>

    <insert id="insert" parameterType="com.zeng.ssm.model.OutputPartData" useGeneratedKeys="true" keyProperty="id" >
        insert into `output_part_data` (`title`, `outputFrameDataId`, `category`, `yieldRate`, `description`)
        values (#{title, jdbcType=VARCHAR}, #{outputFrameDataId,jdbcType=INTEGER},
        #{category, jdbcType=TINYINT}, #{yieldRate,jdbcType=FLOAT}, #{description, jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.OutputPartData">
        update `output_part_data`
        set
          `title` = #{title,jdbcType=VARCHAR},
          `outputFrameDataId` = #{outputFrameDataId,jdbcType=INTEGER},
          `category` = #{category, jdbcType=TINYINT},
          `yieldRate` = #{yieldRate,jdbcType=FLOAT},
          `description` = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `output_part_data` where id = #{pk,jdbcType=INTEGER}
    </delete>

</mapper>